# Basic Operation and Operators
- ADD +
- SUB -
- MUL *
- DIV / (real number)
- INTEGER DIV // (whole number)
- MODULUS % (remainder)
- EXPONENT ** (power)

In [4]:
2+2

4

In [5]:
23/2

11.5

In [6]:
3-10

-7

In [7]:
329*123

40467

In [8]:
222-111

111

In [9]:
122-34

88

In [10]:
10/3

3.3333333333333335

In [11]:
10//3

3

In [12]:
10*3

30

In [13]:
20**3

8000

In [14]:
100**2

10000

In [3]:
2000%30

20

Comparison Operators

<,> <=, >=, ==, !=

In [4]:
288<233

False

In [3]:
23>55

False

In [4]:
556<=455

False

In [5]:
2366>=5644

False

In [1]:
234==234

True

In [2]:
228<=455

True

In [6]:
455!=455

False

In [6]:
'Hello'

'Hello'

In [7]:
'hii dear'

'hii dear'

In [8]:
"this is a boy"

'this is a boy'

In [9]:
'''subh
sss
'''

'subh\nsss\n'

In [10]:
name = 'Subhadra Upadhyay'

In [26]:
a = 10
b = 3

In [27]:
a + b

13

a*b

In [13]:
a - b

7

In [14]:
b**a

59049

In [15]:
a//5

2

In [16]:
0.12//3

0.0

In [17]:
Collage ='BBAU TIKARMAFI AMETH'
DOB = 25/11/2002
MOBILE = '6306321145'

Some Common Errors

In [8]:
# Single quotes error
Location = 'Locknow is a clean city'

In [7]:
Location = 'amethi'

In [19]:
location ='hheiehif

SyntaxError: EOL while scanning string literal (4193887685.py, line 1)

In [9]:
# undefined Variable error
Place

NameError: name 'Place' is not defined

string operators
example

In [10]:
33 + 55 #add

88

In [12]:
22+name

NameError: name 'name' is not defined

In [11]:
'hello' + 'word' # conca

'helloword'

In [14]:
"Random" + location

NameError: name 'location' is not defined

In [16]:
# string and numbers can
a + name

NameError: name 'a' is not defined

In [17]:
# you can multiply a string
"ha"*10

'hahahahahahahahahaha'

In [21]:
Name * Subhadra

NameError: name 'Name' is not defined

In [20]:
name * 1

NameError: name 'name' is not defined

In [ ]:
city * 222

In [ ]:
'-' *15

'---------------'

In [22]:
# city = 'Lucknow'
city * 10

NameError: name 'city' is not defined

In [23]:
Emoji = "👍👍👍"

In [24]:
EMOJI = "😋😋😋"

In [ ]:
22222/66

336.6969696969697

In [ ]:
45*3

135

555---FJ

Variables

In [ ]:
name = "Bruce Wayne"
hero_name = "Batman"
skills = ['fighting','Super intelligence','etc']
created = "Bob Kane"
created_in = 1939

In [ ]:
X = 123
Y = 6666666
Z = -48489

In [ ]:
X = 12*12

In [ ]:
Type (X)

NameError: name 'Type' is not defined

In [ ]:
x = 1.22

In [ ]:
x = 1.11
y = 1.0 
z = -23.22
z = 12e100

In [ ]:
name = "bruce wayne 01"
color = 'yellow'
institute = 'digipodium'

In [ ]:
kahani = '''this is the story of a person 
who was not learning  to code '''

In [ ]:
is_coding = True
is_fun = True
are_u_bored = False

In [ ]:
x = None

In [ ]:
a = [5,10,15,20,25,30,35,40]
vals = [1,2.2,'python']
colors = ['red,''green,''yellow']

In [ ]:
a = (5,10,15,20,25,30,35,40)
vals = (1,2.2,'python')
colors = ('red,''green,''yellow')

In [ ]:
a = {5,10,15,20,25,30,35,40}
vals = {1,2.2,'python'}
colors = {'red,''green,''yellow'}

In [25]:
car_info = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}